@use 'animations';

@mixin mask($delay: 0s) {
    --delay: #{$delay};

    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        height: 100%;
        background: {
            color: var(--color-mask, var(--color-primary));
        }
        animation: mask 1s var(--delay) linear;
        z-index: 2;
    }
    > span {
        opacity: 1;
        transition: opacity 0.01s calc(0.5s + var(--delay)) linear;
    }
}
