@use '../susanoo';
@use '../lists';
@use '../links/mixins' as links;
@use '../helpers';
@use 'animations';

.main-navigation {
    --li-padding: susanoo.rem-calc(12);
    --inital-animation-duration: 0.75s;
    --links-animation-duration: 0.65s;
    --links-animation-multiplyer: 2;
    --links-color: white;

    display: flex;
    gap: susanoo.rem-calc(40);
    padding: susanoo.rem-calc(36) 0;
    align-items: flex-start;
    opacity: 0;
    transform: translateY(50%);
    min: {
        height: 20vh;
    }
    @include susanoo.media(medium) {
        display: none;
    }
    &.is-loaded {
        opacity: 1;
        transform: translateY(0);
        transition: opacity var(--inital-animation-duration) ease-in-out, transform var(--inital-animation-duration) ease-in-out;
        .button,
        .language-switch {
            opacity: 1;
            transition: opacity var(--inital-animation-duration) var(--inital-animation-duration) ease-in-out;
        }
    }
    &.is-active {
        li {
            &::after {
                animation: line var(--inital-animation-duration) calc(var(--inital-animation-duration) * 1.5) ease forwards;
            }
            &:first-child {
                &::before {
                    animation: line var(--inital-animation-duration) calc(var(--inital-animation-duration) * 1.5) ease forwards;
                }
            }
            &:nth-child(odd) {
                a {
                    span {
                        > span {
                            opacity: 1;
                            transition: opacity 0.3s calc((var(--links-animation-duration) / var(--links-animation-multiplyer)) + var(--inital-animation-duration)) linear;
                        }
                        &::before {
                            animation: anchor1 var(--links-animation-duration) var(--inital-animation-duration) ease-in-out;
                        }
                    }
                }
            }
            &:nth-child(3n) {
                a {
                    span {
                        > span {
                            opacity: 1;
                            transition: opacity 0.3s calc((var(--links-animation-duration) * var(--links-animation-multiplyer)) + var(--inital-animation-duration)) linear;
                        }
                        &::before {
                            animation: anchor1 var(--links-animation-duration) calc(var(--links-animation-duration) + var(--inital-animation-duration) + (var(--links-animation-duration) / (var(--links-animation-multiplyer) * 2))) ease-in-out reverse;
                        }
                    }
                }
            }
            &:nth-child(even) {
                a {
                    span {
                        > span {
                            opacity: 1;
                            transition: opacity 0.3s calc(var(--links-animation-duration) + var(--inital-animation-duration)) linear;
                        }
                        &::before {
                            animation: anchor1 var(--links-animation-duration) calc((var(--links-animation-duration) / var(--links-animation-multiplyer) + var(--inital-animation-duration))) ease-in-out;
                        }
                    }
                }
            }
        }
        .logo {
            .path {
                transition: fill 1s calc(var(--inital-animation-duration) + 1.25s) ease-in-out;
                animation: line-animation 2s var(--inital-animation-duration) ease forwards;
                &:first-child {
                    --fill: var(--stroke-color);
                }
                &:nth-child(2) {
                    --fill: var(--stroke-color);
                }
                &:nth-child(3) {
                    --fill: var(--stroke-color);
                }
            }
            g {
                path {
                    opacity: 0.87;
                    transition: opacity 1s calc(var(--inital-animation-duration) + 1.25s) ease-in-out;
                }
            }
        }
    }
    a {
        @include helpers.steroid-text(0.07em);

        font: {
            size: clamp(#{susanoo.rem-calc(20)}, 2vw, #{susanoo.rem-calc(24)});
        }
        &:not(.button) {
            span {
                display: block;
                position: relative;
                text-align: center;
                color: var(--links-color);
                overflow: hidden;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: {
                        color: var(--color-tertiary);
                    }
                    transform: translateY(105%);
                    height: 100%;
                    width: 100%;
                    transition: anchor1 0s;
                }
                > span {
                    padding: 0 2px;
                    opacity: 0;
                }
            }
        }
    }
    .logo {
        color: transparent;
        &:hover {
            color: transparent;
        }
        &:not(.button) {
            > span {
                position: absolute;
                top: 50%;
                left: 0;
                opacity: 0;
            }
        }
        svg {
            height: susanoo.rem-calc(80);
            .path {
                --stroke-color: var(--color-tertiary);
                --fill: transparent;

                stroke-width: 2px;
                stroke: var(--stroke-color);
                fill: var(--fill);
                &:first-child {
                    --stroke-color: var(--color-secondary);

                    stroke-dasharray: 128px;
                    stroke-dashoffset: 128px;
                    filter: drop-shadow(-0.03em 0 3px var(--color-tertiary));
                }
                &:nth-child(2) {
                    stroke-dasharray: 307px;
                    stroke-dashoffset: 307px;

                    filter: drop-shadow(-0.03em 0 3px var(--color-secondary));
                }
                &:nth-child(3) {
                    --stroke-color: var(--color-secondary);

                    filter: drop-shadow(-0.03em 0 3px var(--color-tertiary));
                    stroke-dasharray: 154px;
                    stroke-dashoffset: 154px;
                }
            }
            g {
                path {
                    opacity: 0;
                }
            }
        }
    }
    ul {
        @include lists.reset-list();
        display: flex;
        gap: calc(#{susanoo.rem-calc(64)} - var(--li-padding));
    }
    .nav-links {
        li {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 susanoo.rem-calc(20);
            &::after {
                @include helpers.steroid-lines();
                content: '';
                position: absolute;
                height: 0;
                width: 2px;
                top: 45%;
                right: 0;
                background: {
                    color: var(--color-tertiary);
                }
            }
            &:first-child {
                &::before {
                    @include helpers.steroid-lines();
                    content: '';
                    position: absolute;
                    height: 0;
                    width: 2px;
                    top: 45%;
                    left: 0;
                    background: {
                        color: var(--color-tertiary);
                    }
                }
            }
        }
    }
    .right-row {
        display: flex;
        align: {
            items: flex-start;
        }
        margin: {
            left: auto;
        }
        gap: susanoo.rem-calc(30) susanoo.rem-calc(40);
        @include susanoo.media(large) {
            flex-direction: column;
        }
    }
    .button {
        opacity: 0;
        @include susanoo.media(large) {
            order: -1;
        }
        &::before,
        &::after {
            animation: unset;
        }
        > span {
            color: white;
        }
    }
}
