@use '../susanoo';
@use '../grid/mixins' as grid;
@use '../lists/mixins' as lists;
@use '../links/mixins' as links;
@use 'animations';

.burger-navigation {
    --content-duration: 0.25s;
    --content-delay: 0.125s;
    --core-delay: 1.5s;
    --circle: #{susanoo.rem-calc(50)};

    position: fixed;
    bottom: 100%;
    transition: opacity 0.5s linear, bottom 0s var(--core-delay) linear;
    opacity: 0;
    @include susanoo.media(medium) {
        opacity: 1;
        z-index: 9999;
    }
    &.is-visible {
        opacity: 1;
        z-index: 9999;
    }
    &.is-active {
        bottom: 0;
        transition: bottom 0s linear;
    }
    .menu {
        @include grid.grid-item-extend();
        --column-start: 12;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--circle);
        height: var(--circle);
        background: {
            color: rgb(255 10 0 / 87%);
        }
        border: {
            radius: susanoo.rem-calc(40);
        }
        margin: {
            left: auto;
        }
        cursor: pointer;
        z-index: 5;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: susanoo.rem-calc(-15);
            right: susanoo.rem-calc(-15);
            bottom: susanoo.rem-calc(-15);
            left: susanoo.rem-calc(-15);
            border: {
                width: 1px;
                style: solid;
                color: var(--color-secondary);
                radius: 50%;
            }
            animation: pulsing 20s linear infinite;
        }
        &::after {
            animation: {
                delay: 0.35s;
            }
        }
        &.is-active {
            &:hover,
            &:focus {
                > span {
                    &:nth-child(1) {
                        left: 25%;
                        bottom: 50%;
                        width: 55%;
                        transform: rotate(-45deg);
                    }
                    &:nth-child(2) {
                        top: 50%;
                        left: 25%;
                        width: 55%;
                        transform: rotate(45deg);
                    }
                }
            }
            > span {
                &:nth-child(1) {
                    top: 50%;
                    bottom: unset;
                    left: 25%;
                    width: 55%;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    left: 25%;
                    bottom: 50%;
                    width: 55%;
                    transform: rotate(-45deg);
                }
                &:nth-child(3) {
                    opacity: 0;
                }
            }
        }
        &:hover {
            .path {
                stroke: var(--color-secondary);
                stroke-dashoffset: 0;
                transform: rotate(450deg);
                transition: stroke-dashoffset 1.5s ease-in-out, transform 1.5s ease-in-out;
            }
            > span {
                background: {
                    color: var(--color-secondary);
                }
                &:nth-child(1) {
                    top: 48%;
                    left: 40%;
                    transform: rotate(90deg);
                }
                &:nth-child(2) {
                    top: 33%;
                    left: 23%;
                    width: 51%;
                    transform: rotate(325deg);
                }
                &:nth-child(3) {
                    top: 62%;
                    left: 23%;
                    width: 50%;
                    transform: rotate(35deg);
                }
            }
        }
        > span {
            position: absolute;
            display: block;
            height: 3px;
            background: {
                color: white;
            }
            transition: all 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
            &:nth-child(1) {
                top: 33%;
                left: 20%;
                right: 0;
                width: 60%;
            }
            &:nth-child(2) {
                top: 48%;
                left: 35%;
                right: 0;
                width: 45%;
            }
            &:nth-child(3) {
                top: 63%;
                left: 50%;
                right: 0;
                width: 30%;
            }
        }
        .name {
            opacity: 0;
        }
        .spinner {
            position: absolute;
            outline: none;
            &.is-active {
                .path {
                    stroke-dashoffset: 0;
                    transform: rotate(450deg);
                }
            }
        }
        .path {
            stroke: var(--color-secondary);
            stroke-dasharray: 200;
            stroke-dashoffset: 305%;
            transform-origin: center;
            transform: rotate(0deg);
            transition: stroke-dashoffset 1.5s ease-in-out, transform 1.5s ease-in-out;
        }
    }
    .container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        &::before {
            content: '';
            position: absolute;
            width: var(--circle);
            height: var(--circle);
            right: calc(var(--padding) + #{susanoo.rem-calc(8)});
            top: calc(var(--padding) * var(--padding-multiply));
            backdrop-filter: blur(0.08px);
            border: {
                radius: susanoo.rem-calc(40);
                style: solid;
                width: 0.2px;
                color: var(--color-tertiary);
            }
            transition: transform var(--core-delay);
            z-index: 2;
            @media only screen and (max-width: 640px) {
                top: calc((var(--padding) * var(--padding-multiply)) - #{susanoo.rem-calc(8)});
                right: calc(var(--padding) - #{susanoo.rem-calc(8)});
            }
        }
        &.is-active {
            &::before {
                transition: transform var(--core-delay);
                transform: scale(70);
                @include susanoo.media(small) {
                    transform: scale(40);
                }
                @include susanoo.media(large) {
                    transform: scale(60);
                }
                @include susanoo.media(xxlarge, min) {
                    transform: scale(100);
                }
            }
            .content {
                pointer-events: auto;
                opacity: 1;
            }
        }
    }
    .content {
        opacity: 0;
        pointer-events: none;
        z-index: 4;
        transition: opacity 0.5s linear;
        ul {
            @include lists.reset-list();
        }
        a {
            --top: 49%;

            @include links.reset();
            font: {
                size: clamp(#{susanoo.rem-calc(60)}, 2vw, #{susanoo.rem-calc(80)});
            }
            color: transparent;
            &:hover,
            &:focus {
                &::before {
                    transform: scale(1);
                }
                .layer {
                    color: var(--color-tertiary);
                    transform: skewX(12deg) translateX(5px);
                    + .layer {
                        transform: skewX(12deg) translateX(-5px);
                    }
                }
            }
            &::before {
                content: '';
                position: absolute;
                top: var(--top);
                left: -10%;
                right: -10%;
                width: 120%;
                height: 4px;
                border: {
                    radius: 4px;
                }
                margin: {
                    top: -2px;
                }
                background: {
                    color: var(--color-pink);
                }
                transform: scale(0);
                transition: transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98);
            }
            .layer {
                display: block;
                position: absolute;
                overflow: hidden;
                color: var(--color-secondary);
                top: 0;
                height: var(--top);
                transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
                > span {
                    display: block;
                }
                + .layer {
                    top: calc(var(--top) - 0.1%);
                    height: calc(100% - var(--top) + 0.1%);
                    > span {
                        transform: translateY(-49%);
                    }
                }
            }
        }
    }
}
