@use '../susanoo';
@use '../masks';

.contact {
    --animation-duration: 0.3s;

    overflow: hidden;
    &.is-active {
        .title {
            @include masks.mask();
            position: relative;
        }
    }
    .title {
        span {
            opacity: 0;
        }
        margin: {
            bottom: susanoo.rem-calc(60);
        }
    }
    form {
        --gap: #{susanoo.rem-calc(16)};

        display: grid;
        gap: var(--gap);
        &.is-active {
            .row {
                opacity: 1;
                transform: translateY(0);
                &--double {
                    div {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
            .button {
                opacity: 1;
            }
        }
    }
    .row {
        display: grid;
        &--double {
            gap: var(--gap);
            grid: {
                template: {
                    columns: repeat(auto-fit, minmax(min(#{susanoo.rem-calc(300)}, 100%), 1fr));
                }
            }
            div {
                &:first-child,
                &:last-child {
                    opacity: 0;
                    transition: opacity var(--animation-duration) linear, transform var(--animation-duration) 0.1s linear;
                }
                &:first-child {
                    transform: translateX(-100%);
                }
                &:last-child {
                    transform: translateX(30%);
                }
            }
        }
        &:nth-child(2) {
            transform: translateY(100%);
            opacity: 0;
            transition: opacity var(--animation-duration) calc(var(--animation-duration) * 1.5) linear, transform var(--animation-duration) calc(var(--animation-duration) * 1.5);
        }
        &:nth-child(3) {
            transform: translateY(50%);
            opacity: 0;
            transition: opacity var(--animation-duration) calc(var(--animation-duration) * 2.2) linear, transform var(--animation-duration) calc(var(--animation-duration) * 2.2);
        }
    }
    .button {
        z-index: 1;
        opacity: 0;
        transition: opacity 0.75s calc(var(--animation-duration) * 2.7);
    }
}
